# openssl rand -hex 32
SECRET_KEY="f1f1e325d8d69c669cff9624f0723e303cbd1cfd5fbfa466440afb2a1c939220"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30
# change me
DATABASE_URI="postgresql://{{db_user_name}}:{{db_password}}@localhost/postgres"
